/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* My CSS */
body {
  background-color: #f7bdca;
}
.header-container {
  border-bottom: 3px solid #8d8bad;
  
}
.logo {
  width: 70px;
  padding: 5px;
}
h1 {
  font-size: 50px;
  text-align: center;
  font-family: Delius Swash Caps;
  font-size: 28px;
  padding-top: 35px;
  font-weight: bold;
  color: #414141;
}

/*hamburguer menu*/
/*menu bar style*/
.header {
  background-color: #a8a1c8;
  width: 100%;
  z-index: 5;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
  display: block;
  color: #414141;
  font-family: Quicksand;
  text-decoration: none;
  padding-bottom: 10px;
}
/*nav link style*/
.header li a:hover {
  color: #f7bdca;
}
.header .menu {
  max-height: 0;
  transition: max-height .2s ease-out;
}
 
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  padding-top: 55px;
}
/*middle menu line*/
.header .menu-icon .navicon {
  background: #414141;
  display: block;
  height: 3px;
  position: relative;
  width: 40px;
}
.header .menu-icon .navicon:before {
  top: 15px;
}
.header .menu-icon .navicon:after {
  top: -15px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    position: absolute;
  background: #414141;
  content: '';
  height: 100%;
  transition: all .2s ease-out;
  width: 100%;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 340px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
h2 {
  font-family: Pacifico;
  font-size: 20px;
  color: #414141;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
p {
  font-family: Quicksand;
  font-size: 16px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
img {
  display: block;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}
.button {
  text-align: center;
  padding-bottom: 50px;
}
.footer {
  background-color: #a8a1c8;
  font-family: Quicksand;
  text-align: center;
  padding: 30px;
}