a:focus {
  outline: 3px solid black;
  } 
.skip-links a {
  position: absolute;
  top: -30em;
  left: 50%;
  background-color: black;
  color: #a8a1c8; 
  font-weight: bold;
  font-family: Quicksand;
}
.skip-links a:focus{
  top: 0;
}
h1 {
  font-family: Delius Swash Caps;
}
li {
  font-family: Delius Swash Caps;
}
h2 {
  font-family: Pacifico;
}
h3 {
  font-family: Quicksand;
}
p {
  font-family: Quicksand;
}
.star {
  position: relative;
  width: 120px;
  height: 180px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
footer {
  font-family: Quicksand;
}


@media screen and (min-width: 576px) {
  .row {
    background-color: rgba(200,197,214);;
    border: 3px solid #8d8bad
  }
  .star {
    position: relative;
    width: 150px;
    height: 200px;
    margin-bottom: 50px;
  }
  }
@media screen and (min-width: 960px) {
  .row { 
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    padding-bottom:200px;
    padding-right: 700px;
    border: none;
  }
  .star {
    position: relative;
    width: 180px;
    height: 230px;
    margin-bottom: 100px;
  }
}